# Model files
models/*.gguf
models/
models/*
models/meta-llama-3.1-8b-instruct-abliterated.json

# Python
__pycache__/
*.py[cod]
*.class
.env

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

models/maicog/
models/ibrahimkettaneh/